server:
  port: 8888

spring:
  application:
    name: config-server

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.springframework.cloud: INFO
    org.springframework.boot: INFO
